{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium pariatur corrupti porro ab ea nostrum quod doloribus laboriosam officiis placeat ipsam magnam, repudiandae cumque accusamus et eum mollitia rem dolore dolorum, ullam fugiat temporibus aut? Amet commodi dolore, ratione velit rem, aperiam alias laboriosam doloribus repellendus dolores reprehenderit exercitationem itaque aut nobis adipisci sint libero, id deserunt iure ipsum tenetur minus quidem. Quo dolore, veniam aliquam nobis qui repellendus ex. Qui quo, facilis harum, inventore temporibus quaerat sit tempora deserunt sed culpa sapiente ipsa labore odit repellendus voluptate quasi fugiat quia at molestiae eius veniam, nisi iure. Voluptate, obcaecati esse!</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin">Sign In</a>

            <a class="btn btn-primary" href="/signup">Sign Up</a>
        </div>
    </section>
</main>

{% endblock %}
